$color_primary: black;

$hover_prymary: rgb(202, 202, 202);

$bg_secondary: rgb(221, 221, 221);

$btn_bg_primary: rgb(147, 110, 75);
$btn_bg_hover: rgb(129, 94, 62);

$box_shadow_primary: 3px 2px 3px rgba(0, 0, 0, 0.5);

$box_shadow_hover: 5px 5px 5px rgba(0, 0, 0, 0.5);
