.context-menu {
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;

  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &_item {
    padding: 15px;
    // margin: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: grey;
      transition: all ease .3s;
    }
  }
}