.form {
  margin: 20px;
  padding: 5px;
  min-width: 400px;
  max-width: 8000px;
  background-color: #fff;
  border-radius: 5px;

  & h2 {
    text-align: center;
  }

  &_slot {
    margin-bottom: 20px;
    position: relative;
  }

  &_bottom {
    display: flex;
    justify-content: space-around;
  }
}