@import 'src/assets/style/variables.scss';

.todo {
  &_list {
    padding: 0;
    margin-bottom: 0px;
    position: relative;
  }

  &_wrapper {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .todo {
    &_list {
      padding: 3px 10px 3px 20px;
      height: 70vh;
      overflow-x: hidden;
      overflow-y: scroll;
      margin-bottom: 10px;
    }

    &_wrapper {
      border-top: 1px solid $bg_secondary;
      border-bottom: 1px solid $bg_secondary;
    }
  }
}