.admin {

  &_chat {
    max-height: 50vh;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0.25rem;
    }
    
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #6649b8;
    }
  
  }
}