@import 'src/assets/style/variables.scss';

.header {
  background-color: $bg_primary;
  padding: 5px;
  &_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
