@import '../..//../assets//style/variables.scss';

.todoitem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid $hover_prymary;
  border-radius: 3px;
  margin-bottom: 3px;

  &_checkbox {
    margin-right: 10px;
    cursor: pointer;
    
    &:checked ~ .todoitem_text {
      text-decoration: line-through;
    } 
  }

  &_text {
    margin-right: 10px;

    &::first-letter{
      text-transform: uppercase;
    }
  }

  &_btn {
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  // &:nth-child(even) {
  //   background-color: $bg_secondary;
  // }

  // &:hover {
  //   background-color: $hover_prymary;
  // }

}