@import 'src/assets/style/variables.scss';

.footer {
  border-top: 1px solid grey;
  padding: 30px;
  background-color: $bg_primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
}