@import 'src/assets/style/variables.scss';

.task {
  border: 1px solid $hover_primary;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  &.completed {
    background-color: $bg_secondary;
  }

  &.expired {
    background-color: rgb(251 116 116);
  }

  &.today {
    background-color: rgb(251, 244, 116);
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &_text {
    max-height: 40vh;
    overflow-y: scroll;
    padding-right: 5px;
  }

  &_expire {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    border-left: 1px solid $hover_primary;
  }
}

@media (max-width: 768px) {

}